body {
    margin: 0;
    padding: 0;
    background-image: url('img1.jpg'); /* Replace with the correct path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: opacity(0.7);
    font-family: 'Montserrat', sans-serif; /* Use Montserrat or another suitable font */
}


.quiz-container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    text-align: left;
}

form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
}
